.center-img,
.desabafo_container{
	align-items:center;
	display:flex;
	justify-content:center;

	padding: 1rem 1rem;
}
p{
	text-align:justify;
}
.desabafo_container img{
	max-width:8rem;
	border-radius:100px;
}
.desabafo_container a{
	color:#eaad29;
}
.desabafo_container a:hover{
	text-decoration: none;
	color:#eaad29;
}
