.bg-ifvv {
  background-color: #eaad29;
}

.logo {
  	align-items: center;
  	display:flex;
 	justify-content:center;
 	padding:10px 10px;
}
.logo img{
	max-width:20rem;
}

.btn-ifvv {
  color: #ffffff !important;
  background-color: #eaad29 !important;
  border-color: #eaad29 !important;
}