.bg-ifvv {
  background-color: #eaad29;
}

.logo {
  padding: 10px;
  padding-top: 50px;
  margin: 0;
}

.btn-ifvv {
  color: #ffffff !important;
  background-color: #eaad29 !important;
  border-color: #eaad29 !important;
}