@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');

.header {
  height: 56px;
  background-color: #eaad29
}


.logo {
  padding: 10px;
  padding-top: 50px;
  margin: 0;
}

.btn-ifvv {
  color: #333333;
  background-color: #eaad29;
  border-color: #eaad29;
}