<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LOGIN</h1>
    <form action="/users/login" method="POST">
      <label for="cpf">CPF</label>
      <input type="text" name="cpf" />
      <label for="password">Senha</label>
      <input type="password" name="password" />
      <input type="submit" value="Login" />
    </form>
  </body>
</html>
